/* 
This 
*/


.flex-container {
display: flex;
background-color: wheat;
justify-content: flex-start;
flex-direction: row;

}


.flex-container > div
{
    background-color: aqua;
    margin: 60px;
    padding: 20px;
    font-size: 30px;
}