/*
We are learning Box Model 

Solution - Width & Height
*/

div{
width: 800px;
height: 10px;
background-color: wheat;
padding: 40px;
border: 10px solid green;
}

p{
    height: 20px;
    margin: 10px;
}
.try{
    color: red;
}